/* darkmode.css */

body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode header,
body.dark-mode footer,
body.dark-mode .nav-container {
  background-color: black;
  color: white;
}
  body.dark-mode .slogan h1 { 
    color: white;
  } 
  body.dark-mode .slogan #word{ 
    color: white;
  }  
body.dark-mode a,
body.dark-mode span,
body.dark-mode .fa-solid {
  color: white;
}
  body.dark-mode .premium-price .price-card{
    background: linear-gradient(154deg, gray, black);    
    color: white;
    border: 1px solid white;
  }
  body.dark-mode .premium-price .price-card ul li{ 
    color: white; 

  }
  body.dark-mode i{ 
    color: white; 

  }
  
  body.dark-mode .premium-price .price-card:nth-child(2) h4{ 
    color: white; 
  }
  body.dark-mode .premium-price .price-card:nth-child(2) button{ 
    color: white; 
    background-color:rgb(0, 0, 0);

  }